@font-face {
    font-family: NotoSansKR;
    src: url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
}

@font-face {
    font-family: Inconsolata;
    src: url(https://fonts.googleapis.com/css?family=Inconsolata);
}
