code, tt {
  font-family: 'Roboto Mono', monospace;
  font-size: .95rem;
  color: rgba(29, 97, 199, 0.83);
  background: rgba(255, 235, 97, 0.33);
  padding: 0 .2rem 0 .2rem;
  border-radius: 2px;
}

div.linenodiv pre {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

div.codehilite > pre {
  margin: 10px;
  padding: 1em;
}

pre.code {
  font-family: 'Roboto Mono', monospace;
  padding: .9rem;
  border-radius: 2px;
}

div.article_text table.codehilitetable {
  margin-bottom: 1rem;
}

div.article_text dl {
  margin-left: .6rem;
  margin-bottom: 0;
}

div.article_text dl dt {
  font-family: sans-serif;
  font-size: 1rem;
}

div.article_text dl dd {
  font-family: sans-serif;
  font-size: .9rem;
  margin-left: .9rem;
}

img {
  max-width: 100%;
}

blockquote {
  font-size: .9rem;
  color: #649098;
}

table, th, td {
  border: .1rem solid lightgray;
  background: white;
  padding: .3rem;
}

article div.gist{
  line-height: .875rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 2rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.1rem;
}

/* class */

.article_title, .nav, .pagination {
  font-family: 'Jua', sans-serif;
}

.article_text, .article_meta, .article_tag {
  font-family: 'Noto Serif KR', sans-serif;
}

.toc {
  font-family: 'Roboto Mono', monospace;
  font-size: .9rem;
}

.pagination {
  margin-bottom: 0;
}

.alert {
  margin-bottom: 0;
}

.footnote-reference {
  vertical-align: super;
  font-size: 75%;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}

.codehilitetable {
  font-family: 'Roboto Mono', monospace;
  padding: .8rem;
  border-left: solid 3px #FF8000;
  border-radius: 2px;
}

.fa-ellipsis-v {
  margin: 0 .5rem 0 .5rem;
}

/* id */

#site_footer {
  font-size: .8rem;
  color: #93a1a1;
  text-align: right;
}

#site_title {
  font-family: 'Jua', sans-serif;
}

#site_title span a {
  color: #000;
}

#site_article {
  margin-top: 20px;
}

#social {
  font-size: 1rem;
  margin-right: 0.2rem;
}

#division {
  color: lightgray;
  text-align: center;
}
