code, tt {
  font-family: 'Fira Mono', monospace;
  font-size: .95rem;
  color: #ebdbb2;
  background: #282828;
  padding: 0 .2rem 0 .2rem;
  border-radius: 2px;
}

a > code {
  color: #ebdbb2;
}

a, a:link, a:visited, a:hover {
  color: #4335a4;
}

div.linenodiv pre {
  font-family: 'Fira Mono', monospace;
  margin: 0;
}

div.codehilite > pre {
  margin: 10px;
  padding: 1em;
}

pre.code {
  font-family: 'Fira Mono', monospace;
  padding: .9rem;
  border-radius: 2px;
}

div.article_text table.codehilitetable {
  margin-bottom: 1rem;
}

div.article_text dl {
  margin-left: .6rem;
  margin-bottom: 0;
}

div.article_text dl dt {
  font-family: sans-serif;
  font-size: 1rem;
}

div.article_text dl dd {
  font-family: sans-serif;
  font-size: .9rem;
  margin-left: .9rem;
}

img {
  max-width: 100%;
}

blockquote {
  font-size: .9rem;
  color: #649098;
}

table, th, td {
  border: .1rem solid lightgray;
  background: white;
  padding: .3rem;
}

article div.gist{
  line-height: .875rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.1rem;
}

/* class */
.article_title {
  font-family: 'Gugi', sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
}

.nav, .pagination, .archive_title, .article_tag, .article_meta, .category_title {
  font-family: 'Gugi', sans-serif;
}

.article_text {
  font-family: 'Noto Serif KR', serif;
}

.toc {
  font-family: 'Fira Mono', monospace;
  font-size: .9rem;
}

.codehilitetable {
    font-family: 'Fira Mono', monospace;
    padding: .8rem;
    border-left: solid 3px #FF8000;
    border-radius: 2px;
}

.pagination {
  margin-bottom: 0;
}

.alert {
  margin-bottom: 0;
}

.footnote-reference {
  vertical-align: super;
  font-size: 75%;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}

/* id */

#site_footer {
  font-size: .8rem;
  color: #93a1a1;
}

#site_title {
  font-family: 'Gugi', sans-serif;
}

#site_title span a {
  color: #000;
}

#site_article {
  margin-top: 20px;
}

#social {
  font-size: 1rem;
  margin-right: 0.2rem;
}

/* font awesome */
i.fa-calendar-plus {
  color: black;
}

i.fa-ellipsis-v {
  color: black;
  font-size: 1rem;
  margin: 0 .5rem 0 .5rem;
}

i.fa-tag, i.fa-tags {
  color: black;
}

i.fa-inbox {
  color: black;
}

i.fa-archive {
  color: black;
}

i.fa-folder-open {
  color: black;
}

i.fa-keyboard {
  color: darkslategray;
}

i.fa-poo {
  color: peru;
  opacity: 30%;
}

i.fa-hand-spock {
  color: darkblue;
  opacity: 30%;
}
