body {
  font-family: NotoSansKR, sans-serif;
  font-size: 16px;
}

code {
  font-family: Inconsolata, monospace;
  font-size: 14px;
  color: rgba(195, 35, 42, 0.83);
  background: rgba(245, 100, 57, 0.33);
}

dl#archive {
  margin-bottom: 0;
}
dl#archive > dt{
  font-family: Inconsolata, sans-serif;
  font-size: 16px;
}
dl#archive > dd{
  font-family: NotoSansKR, sans-serif;
  font-size: 14px;
  margin-left: 15px;
}

article div.gist{
  line-height: .875em;
}

.toc {
  font-family: NanumCoding, monospace;
  font-size: .9em;
}

.pagination {
  margin-bottom: 0;
}

.alert {
  margin-bottom: 0;
}

#site_title {
}

#site_article{
  margin-top: 20px;
}