{% if DEFAULT_PAGINATION %}
<ul class="pagination">
  {% if articles_page.has_previous() %}
    {% if articles_page.previous_page_number() == 1 %}
      <li class="align-middle">
        <a href="{{ SITEURL }}/{{ page_name }}.html">
          <em class="fa-solid fa-angles-left"></em> Next
        </a>
      </li>
    {% else %}
      <li class="align-middle">
        <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">
          <em class="fa-solid fa-angles-left"></em> Next
        </a>
      </li>
    {% endif %}
  {% else %}
    <li class="align-middle"><a rel="next"><em class="fa-solid fa-angle-right"></em> Next</a></li>
  {% endif %}
  <a class="align-middle" style="margin: 0 .5rem 0 .5rem">
    <em class="fa-solid fa-sun" style="color:orangered"></em>
  </a>
  {% if articles_page.has_next() %}
    <li class="align-middle">
      <a href="{{ STIEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">
        Prev <em class="fa-solid fa-angles-right"></em>
      </a>
    </li>
  {% else %}
    <li class="align-middle">
      <a rel="prev">
        Prev <em class="fa-solid fa-angle-left"></em>
      </a>
    </li>
  {% endif %}
</ul>
{% endif %}
