{% extends "base.html" %}

{% block content %}
  <div class="row">
    {% for year in range(2019, 2011, -1) %}
    <div class="container">
      <div class="archive_title">
        <i class="far fa-keyboard"></i> {{ year }}
      </div>
      {% for article in articles %}
        {% set article_year = article.date.strftime("%Y")|int %}
        {% if article_year == year %}
          <div class="archive_title" style="padding-left: 1em;">
            <i class="fas fa-cloud-upload-alt"></i> <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
{% endblock %}
