{% extends "shell.html" %}

{% block title %}
/{{ article.title }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="article">
  <!-- Title -->
    <div class="article-title">{{ article.title }}</div>

  <!-- Meta -->
    <div class="article-meta">
      <em class="fa-regular fa-calendar-plus"></em>
        {{ article.locale_date }}
        {% if article.modified %} / <em class="fa-solid fa-arrows-rotate"></em> {{ article.locale_modified }} {% endif %}
      <em class="fa-solid fa-ellipsis-vertical"></em>
      <em class="fa-solid fa-folder-open"></em>
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      <em class="fa-solid fa-ellipsis-vertical"></em>
      <em class="fa-solid fa-tags"></em>
        {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}" class="article_tag">{{ tag }}</a>
        {% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>

  <!--Article -->
    <div class="text-center"><em class="fa-solid fa-poo-storm"></em></div>
    <div class="article-text">{{ article.content }}</div>
    <div class="text-center"><em class="fa-regular fa-hand-spock"></em></div>

  <!-- Buy me a coffee -->
    {% if BMC_CODE %}
    <div class="text-center">
      {% include "_include/buy_me_a_coffee.html" %}
    </div>
    {% endif %}

  <!-- Comment -->
    {% if GISCUS %}
      {% include "_include/giscus.html" %}
    {% endif %}
    {% if UTTERANCES %}
      {% include "_include/utterances.html" %}
    {% endif %}
    <div class="text-center">🎗</div>
  </div>
</div>
{% endblock %}
