{% extends "base.html" %}

{% block article_head %}
  <meta name="keywords" content="{{ article.tags|join(', ') }}">
{% endblock %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="container">
      <div class="article">
        <div class="article_title"><h1>{{ article.title }}</h1></div>
        <div id="division"><i class="fas fa-poo" style></i></div>
        <div class="article_text">{{ article.content }}</div>
        <div id="division"><i class="far fa-hand-spock"></i></div>
        <div class="article_meta">
          <i class="far fa-calendar-plus"></i> {{ article.locale_date }}
          <i class="fas fa-ellipsis-v"></i>
          <i class="far fa-folder-open"></i> <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
          <i class="fas fa-ellipsis-v"></i>
          <i class="fas fa-tags">
            {% for tag in article.tags %}
              <a href="{{ SITEURL }}/{{ tag.url }}" class="article_tag">{{ tag }}</a>
            {% endfor %}
          </i>
        </div>
        <div id="utterances">
          <script src="https://utteranc.es/client.js"
        repo="ujuc/ujuc.github.io"
        issue-term="url"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
        </div>
        {% if DISQUS_SITENAME %}
          <div class="article_comments">{% include "_include/disqus.html" %}</div>
        {% endif %}
        <div style="text-align: center">🎗</div>
      </div>
    </div>
  </div>
{% endblock %}
