{% extends "base.html" %}

{% block title %}
/{{ article.title }}
{% endblock %}

{% block content %}
    <div class="container">
      <div class="article">
        <div class="article_title"><h1>{{ article.title }}</h1></div>
        <div class="article_meta">
          <i class="bi bi-calendar-plus"></i> {{ article.locale_date }}
          {% if article.modifed %} / <i class="bi bi-arrow-repeat"></i> {{ article.locale_modified }} {% endif %}
          <i class="bi bi-three-dots-vertical"></i>
          <i class="bi bi-folder2-open"></i> <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
          <i class="bi bi-three-dots-vertical"></i>
          <i class="bi bi-tags">
            {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}" class="article_tag">{{ tag }}</a>
            {% endfor %}
          </i>
        </div>
        <div class="text-center"><i class="bi bi-tornado" style></i></div>
        <div class="article_text">{{ article.content }}</div>
        <div class="text-center"><i class="bi bi-tsunami"></i></div>

        <!-- Buy me a coffee -->
        {% if BMC_CODE %}
        <div class="text-center">
          {% include "_include/buy_me_a_coffee.html" %}
        </div>
        {% endif %}

        <!-- Comment -->
        {% if UTTERANCES_REPO %}
        <div id="utterances">
          <script src="https://utteranc.es/client.js"
                  repo="{{ UTTERANCES_REPO }}"
                  issue-term="url"
                  theme="github-light"
                  crossorigin="anonymous"
                  async>
          </script>
        </div>
        {% endif %}
        {% if DISQUS_SITENAME %}
          <div class="article_comments">{% include "_include/disqus.html" %}</div>
        {% endif %}
        <div class="text-center">🎗</div>
      </div>
    </div>
{% endblock %}
