<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

  <head>
    {% include "_include/head.html" %}

    <!-- Article head -->
    {% block article_head %}
    {% endblock %}

    <!-- Title -->
    <title>
    {{ SITENAME }} - {% block title %}{% endblock %}
    </title>

    {% include "_include/ga.html" %}
    {% include "_include/gads.html" %}
  </head>

  <body>
  <header>
    <!-- navi -->
    {% include "_include/nav.html" %}
  </header>

  <div id="site_article" class="container">
    {% block content %}
    {% endblock %}
  </div>

  <!-- body foot -->
  <div class="row">
    <div class="container">
    {% block foot %}
    {% endblock %}
    </div>
  </div>

  <!-- Title -->
  <div id="site_title" class="container">
    {% include "_include/title.html" %}
  </div>

  <!-- Footer -->
  <div id="site_footer" class="container">
    {% include "_include/footer.html" %}
  </div>

  <!-- Javascript -->
  {% include "_include/js.html" %}
  <div id="js" class="contents">
    {% block js %}
    {% endblock %}
  </div>

  </body>
</html>
