<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

  <head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="{{ AUTHOR }}">
    
    <meta property="og:site_name" content="{{ SITENAME }}">
    <meta property="og:type" content="website">
    <meta property="inLanguage" content="ko-KR">

    <!-- Twitter Card data-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ SITENAME }}">

    {% if article %}
    <meta name="keyward" content="{{ article.tags|join(',') }}">
    <meta property="og:title" content="{{ article.title|striptags }}">
    <meta name="twitter:title" content="{{ article.title|striptags }}">
    <meta itemprop="name" content="{{ article.title|striptags }}">
    <meta name="description" content="{{ article.summary|striptags }}">
    <meta property="og:description" content="{{ article.summary|striptags }}">
    <meta name="twitter:description" content="{{ article.summary|striptags }}">
    <meta itemprop="description" content="{{ article.summary|striptags }}">
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
    <meta property="article:published_time" content="{{ article.date.isoformat() }}">
    {% if article.modified %}
    <meta property="article:modified_time" content="{{ article.modified.isoformat() }}">
    {% endif %}
    {% for tag in article.tags %}
    <meta property="article:tag" content="{{ tag }}">
    {% endfor %}    
    {% else %}
    <meta name="description" content="Anythink, Everythink!">
    <meta name="twitter:title" content="{{ SITENAME }}">
    <meta name="twitter:description" content="Anythink, Everythink!">
    {% endif %}

    <meta itemprop="image" content="{{ SITEURL }}/img/main.jpg">
    <meta property="og:image" content="{{ SITEURL }}/img/main.jpg">
    <meta name="twitter:image" content="{{ SITEURL }}/img/main.jpg">
    
    <!-- Title -->
    <title>
      {{ SITENAME }}{% block title %}{% endblock %}
    </title>

    {% include "_include/head.html" %}
    {% include "_include/ga.html" %}
    {% include "_include/gads.html" %}
  </head>

  <body>
  <header>
    <!-- navi -->
    {% include "_include/nav.html" %}
  </header>

  <div id="site_article" class="container">
    {% block content %}
    {% endblock %}
  </div>

  <!-- body foot -->
  <div class="row">
    <div class="container">
    {% block foot %}
    {% endblock %}
    </div>
  </div>

  <!-- Title -->
  <div id="site_title" class="container">
    {% include "_include/title.html" %}
  </div>

  <!-- Footer -->
  <div id="site_footer" class="container">
    {% include "_include/footer.html" %}
  </div>

  <!-- Javascript -->
  {% include "_include/js.html" %}
  <div id="js" class="contents">
    {% block js %}
    {% endblock %}
  </div>

  </body>
</html>
