{% extends "index.html" %}

{% block title %}
  | Category: {{ category }}
{% endblock %}

{% block head %}
  {% if CATEGORY_FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ category }} Category Atom" />
  {% endif %}
  {% if CATEGORY_FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} {{ category }} Category RSS" />
  {% endif %}
{% endblock %}

{% block header %}
  <div class="alert alert-warning">
    <em class="fa-solid fa-folder-open"></em> Category: {{ category }}
    {% if CATEGORY_FEED_ATOM %}
      | <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" class="alert-link">Atom <em class="fa-solid fa-rss"></em></a>
    {% endif %}
    {% if CATEGORY_FEED_RSS %}
      | <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" class="alert-link">RSS <em class="fa-solid fa-rss"></em></a>
    {% endif %}
  </div>
{% endblock %}
