{% extends "index.html" %}

{% block title %}
  | Category: {{ category }}
{% endblock %}

{% block head %}
  {% if CATEGORY_FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ category }} Category Atom" />
  {% endif %}
  {% if CATEGORY_FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} {{ category }} Category RSS" />
  {% endif %}
{% endblock %}

{% block header %}
  <div class="alert alert-warning">
    <i class="far fa-folder-open"></i> Category: {{ category }}
    {% if CATEGORY_FEED_ATOM %}
      | <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" class="alert-link">Atom <i class="fas fa-rss"></i></a>
    {% endif %}
    {% if CATEGORY_FEED_RSS %}
      | <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" class="alert-link">RSS <i class="fas fa-rss"></i></a>
    {% endif %}
  </div>
{% endblock %}