{% extends "base.html" %}

{% block content %}
  {% for article in articles_page.object_list %}
    <article class="row">
      <div class="container">
        <h3 class="article_title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
        <div class="article_text">{{ article.summary }}</div>
      </div>
    </article>
    {% if not loop.last %}
      <hr/>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block foot %}
  {% include "_include/pagination.html" %}
{% endblock %}
