{% extends "base.html" %}

{% block content %}
  {% for article in articles_page.object_list %}
    <article class="row">
      <div class="container">
        <div>
          <a href="{{ SITEURL }}/{{ article.url }}" class="article_title">{{ article.title }}</a>
        </div>
        <div class="article_meta">
          <em class="fa-regular fa-calendar-plus"></em> {{ article.locale_date }}
          {% if article.modified %} / <em class="fa-solid fa-arrows-rotate"></em> {{ article.locale_modified }}{% endif %}
        </div>
        <div class="article_text">{{ article.summary }}</div>
      </div>
    </article>
    {% if not loop.last %}
    <hr/>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block foot %}
    {% include "_include/pagination.html" %}
{% endblock %}
