{% extends "shell.html" %}

{% block content %}
  <div class="row">
    <div class="container">
      {% for tag, articles in tags|sort %}
        {% if loop.index == 1 %}
        <div class="row">
        {% endif %}
          <div class="col article-tag">
            <em class="fa-solid fa-tags"></em> <a href="{{ STIEURL }}/{{ tag.url }}">{{ tag }}</a> <em class="fa-solid fa-file-lines"></em> {{ articles|count }}
        </div>
        {% if loop.index % 3 == 0 %}
        </div>
        <div class="row">
        {% endif %}
        {% if loop.last %}
          {% for _ in range((loop.index % 3) - 1) %}
            <div class="col article-tag"></div>
          {% endfor %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
